* {
    margin: 0;
    padding: 0;
    color: #333;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.bg-check {
    background-color: gray;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.d-flex {
    display: flex;
}

.jcb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.ofh {
    overflow: hidden;
}

.h-0 {
    height: 0;
}

.h100 {
    height: 100px;
}

.h300 {
    height: 300px;
}

.h200 {
    height: 200px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

#hd {
    background-color: dodgerblue;
}

#hd h1 {
    margin-left: 1rem;
}

.d2ul {
    overflow: hidden;
    left: 0;
    right: 0;
    top: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    text-indent: 4rem;
    line-height: 2;
    max-height: 0;
    transition: 0.5s;
}

.d1li:hover .d2ul {
    max-height: 200px;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    transition: 0.5s;
}

.d2ul>li {
    padding: 0.5rem 0;
}

.d2ul>li>a {
    color: #333;
    font-size: 1.2rem;
    display: block;
    white-space: nowrap;
}

.d1li>a {
    font-size: 1.2rem;
    padding: 1rem 4rem;
    display: block;
    /* line-height: 58px; */
    background-color: darkblue;
    color: white;
}

.d1li>a:hover {
    background-color: rgba(0, 0, 104, .3);

}

#threeBanner>* {
    width: 33.333%;
}

.d2ul>li:hover {
    background-color: lightblue;
}