* {
    margin: 0;
    padding: 0;
    color: #333;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.bg-check {
    background-color: gray;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.d-flex {
    display: flex;
}

.jcb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.ofh {
    overflow: hidden;
}

.h-0 {
    height: 0;
}

.h100 {
    height: 100px;
}

.h300 {
    height: 300px;
}

.h200 {
    height: 200px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

#hd {
    background-color: dodgerblue;
}

.d2ul {
    overflow: hidden;
    height: 0;
    left: 0;
    right: 0;
    top: 100%;
    transition: 0.5s;
}

.d1li:hover .d2ul {
    height: 100px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
}

.d1li:hover .d2ul>li>a {
    color: #333;
}

.d1li>a {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    line-height: 100px;
    background-color: darkblue;
}

.d1li>a:hover {
    background-color: darkblue;
    opacity: .5;
}